<!DOCTYPE html>
<div id="content" ng-controller="ListCtrl">
    <div id="add" class="row">
        <div class="col-md-5 no-padding-left">
            <input id="name" placeholder="Name" ng-model="listCtrl.candidate.name">
        </div>
        <div class="col-md-5 no-padding-left">
            <div class="tagselect tagselect--frameless">
                <div class="tagselect__item" ng-repeat="chosen in listCtrl.chosenPositions">
                    <span>{{chosen.positionName}}</span>
                    <a href="#" ng-click="listCtrl.removeFromChosen(chosen)" class="tagselect__close">
                        <span class="glyphicon glyphicon-remove remove-icon" aria-hidden="true"></span>
                    </a>
                </div>
                <input class="tagselect__input" placeholder="Position" ng-focus="focus=true" ng-model="query">
            </div>
            <div class="combobox__body combobox__body--open combobox__body--frameless" ng-show="focus">
                <ul class="list-unstyled">
                    <li class="combobox__item" ng-repeat="pos in listCtrl.positions | filter:query as results"
                        ng-click="$parent.listCtrl.choosePosition(pos)">{{pos.positionName}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 no-padding">
            <button type="button" class="btn btn-success" ng-click="listCtrl.addCandidate(listCtrl.candidate)">Add</button>
        </div>
    </div>
    <div id="search" class="row white">
        <input placeholder="Search.." ng-model="candidateQuery">
    </div>
    <div id="list" class="row white">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th><span class="glyphicon glyphicon-earphone"></span></th>
                <th><span class="glyphicon glyphicon-hand-right"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="candidate in listCtrl.candidates | filter:candidateQuery as results">
                <th scope="row"><img class="img-circle" src="/source/img/person.png"></th>
                <td>{{candidate.name}}</td>
                <td><span ng-repeat="position in candidate.positions">{{position.positionName}}{{$last ? '' : ', '}}</span></td>
                <td><span class="glyphicon glyphicon-ok" ng-class="{ 'text-success': candidate.wasCalled, '' : !candidate.wasCalled}" ng-click="listCtrl.setCall(candidate)"/></td>
                <td><span class="glyphicon glyphicon-ok" ng-class="{ 'text-success': candidate.wasGood, '' : !candidate.wasGood}" ng-click="listCtrl.setGood(candidate)"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
