<div id="content-horizontal" ng-controller="RegisterCtrl">
    <div class="row">
        <form class="form-horizontal" name="signUpForm">
            <fieldset>
                <div id="legend">
                    <legend class="">Register</legend>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">Username</label>
                    <div class="controls">
                        <!--ng-pattern for regex email validation-->
                        <input type="email" id="email" name="email" placeholder="" class="form-control input-lg" ng-model="email"
                               ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                               ng-minlength="5" required>
                        <p class="help-block">Please provide your E-mail</p>
                        <!--email validation errors-->
                        <div class="custom-error" ng-show="signUpForm.email.$dirty && signUpForm.email.$invalid">
                            <span ng-show="signUpForm.email.$error.required">INVALID: Username is required</span>
                            <span ng-show="signUpForm.email.$error.pattern">INVALID: Username is not valid email</span>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="" class="form-control input-lg"
                               ng-model="password" ng-minlength="6" equals="{{rePassword}}" required>
                        <p class="help-block">Password should be at least 6 characters</p>
                        <div ng-show="signUpForm.email.$valid">
                            <!--password validation errors-->
                            <div class="custom-error"
                                 ng-show="signUpForm.password.$dirty && signUpForm.password.$invalid">
                                <span ng-show="signUpForm.password.$error.required">INVALID: Password is required</span>
                                <span ng-show="signUpForm.password.$error.minlength">INVALID: Password should be minimum 6 character</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <a id="register" class="btn btn-success" ng-click="sgRegister.register(email, password)" ng-disabled="signUpForm.$invalid">Register</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
